{% extends 'movies/base.html' %}
{% block content %}


								<h1 style = "margin-bottom: 1em">The Movie Database</h1>
								<form action= "{%url 'search' %}" method="post">
                                    {% csrf_token %}
                                    <input type="text"  name="search_input" placeholder="Movie Name" style = "margin-bottom: 2em">
                                    <input type="submit" value="Search"/>
                                </form>

							</header>
						</div>


{% endblock %}