{% extends 'movies/base.html' %}
{% block content %}
 <h1>Details</h1>
 <p>

<h2>Subscription Services</h2>
<ul>
{% for item in data %}
     {% if item.type == 'sub' %}
    <li><a href = {{item.web_url}}>{{item.name}} ({{item.format}})</a></li>
    {%endif%}
    {% empty %}
    <li>No results found.</li>
 {% endfor %}
</ul>
 <h2>Rentals</h2>
 <ul>
{% for item in data %}
    {% if item.type == 'Rent' %}
    <li><a href = {{item.web_url}}>{{item.name}} ({{item.format}})</a></li>
    {%endif%}
    {% empty %}
    <li>No results found.</li>
 {% endfor %}
</ul>
 <h2>Purchase</h2>
 <ul>
{% for item in data %}
    {% if item.type == 'buy' %}
    <li><a href = {{item.web_url}}>{{item.name}} ({{item.format}})</a></li>
     {%endif%}
      {% empty %}
    <li>No results found.</li>
 {% endfor %}
</ul>
</p>
{% endblock %}